In [1]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df
# df = pd.read_excel("weather_data.xlsx", "Sheet1")

        day  temperature  windspeed  event
0  1-1-2017           32          6  Rainy
1  2-3-2019           35          5  Sunny
2  2-2-2020           10          1   Snow

In [2]:
# Creating DF using python dictionary
weather_data = {
    "day":['1-1-2017', '2-3-2019', '3-12-2020'],
    'temperature': [35, 34, 12],
    'windspeed': [6, 7, 4],
    'event': ['Rainy', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

         day  temperature  windspeed  event
0   1-1-2017           35          6  Rainy
1   2-3-2019           34          7  Sunny
2  3-12-2020           12          4   Snow

In [5]:
# Creating DF using list of tuples
w = [
    ('1-1-2017', 32, 6, 'Rain'),
    ('1-2-2019', 34, 2, 'Snow')
]
df = pd.DataFrame(w)  # By default it doesn't create column
df = pd.DataFrame(w, columns=['day', 'temperature', 'windspeed', 'event'])
df

        day  temperature  windspeed event
0  1-1-2017           32          6  Rain
1  1-2-2019           34          2  Snow

In [7]:
# Creating DF using list of dictionaries
w = [
    {"day": '1-1-2017', 'temperature': 30, 'windspeed': 6, 'event': 'Sunny'},
    {"day": '1-21-2017', 'temperature': 3, 'windspeed': 1, 'event': 'Snow'}
]
df = pd.DataFrame(w)
df

         day  temperature  windspeed  event
0   1-1-2017           30          6  Sunny
1  1-21-2017            3          1   Snow