In [8]:
import pandas as pd
weather_data = {
    "day":['1-1-2017', '2-3-2019', '3-12-2020'],
    'temperature': [35, 34, 12],
    'windspeed': [6, 7, 4],
    'event': ['Rainy', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

         day  temperature  windspeed  event
0   1-1-2017           35          6  Rainy
1   2-3-2019           34          7  Sunny
2  3-12-2020           12          4   Snow

In [11]:
df.head(1)

        day  temperature  windspeed  event
0  1-1-2017           35          6  Rainy

In [14]:
df.columns
df.day
df.describe()

       temperature  windspeed
count          3.0   3.000000
mean          27.0   5.666667
std           13.0   1.527525
min           12.0   4.000000
25%           23.0   5.000000
50%           34.0   6.000000
75%           34.5   6.500000
max           35.0   7.000000

In [31]:
df.set_index('day', inplace=True)

In [32]:
df.loc['1-1-2017']

temperature       35
windspeed          6
event          Rainy
Name: 1-1-2017, dtype: object

In [30]:
df.reset_index(inplace=True)

         day  temperature  windspeed  event
0   1-1-2017           35          6  Rainy
1   2-3-2019           34          7  Sunny
2  3-12-2020           12          4   Snow